.box{

	background:#fbc531;

	border-radius: 1em;
	border: 1px solid red;
}
.container{

}

.boxi{

	background:#ECE9E6;
display: inline-block;
	border-radius: 1em;
	border: 1px solid red;
}

.logo {
	background:#f1f2f6;
	
	border-radius: 1em;
	border: 1px solid red;
object-fit: contain;


}

img.pequeña{
  width: 50px; height: 50px;
}

img {
	background:#f1f2f6;

	border-radius: 1em;


}
